
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}
body, html {
    min-width: 100%;
    min-height: 100vh;
}

body {
    background: url(https://assets.codepen.io/6060109/ZigZag.png);
    background-size: cover;
}
.panel_left {
    display: flex;
}
.panel_middle {
    width: 70%;
    min-width: 300px;
    height: 600px;
    background-color: #fff;
    margin: 70px auto;
    box-shadow: 0px 40px 40px -20px #3c7b61;
    border-radius: 5px;
    position: relative;
}

.panel_right{
    display: none;
}

#close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
}

.inner_container {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 55px 45px;

}

.inner_container >  h2 {
    margin: 20px 0 10px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 22px;
    color: #2F463D;
}

.inner_container >  p {
    font-family: Ubuntu;
    font-size: 14px;
    line-height: 26px;
    color: #2F463D;
}

.food_selection {
    display:flex;
    align-items: center;
    background-color: #F0FFF5;
    border-radius: 5px;
    margin: 40px 0 30px;
}

.food_name_price {
    width: 55%;
    text-align: left;
    padding-left: 25px;
}

.food_name_price h5 {
    font-family: Montserrat;
    color: #2F463D;
    font-size: 14px;
    margin: 3px;
}

.food_name_price h6 {
    font-family: Montserrat;
    color: #7A8F85;
    font-size: 14px;
    font-weight: 600;
}

.food_selection a {
    font-family: Montserrat;
    color: #467A66;
    font-size: 13px;
    font-weight: bold
}

#ready_btn {
    width: 100%;
    padding: 15px 0;
    color: white;
    background-color: #46A67E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    line-height: 18px;
    font-weight: 800;
    font-size: 15px;
    transition: .3s ease all;
}

#ready_btn:hover {
    opacity: .8;
    transition: .3s ease all;
    cursor: pointer;
}

.dots-ctr {
    display: flex;
    width: 10%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);

}

.dot {
    width: 10px;
    height: 10px;
    background-color: #E0E0E0;
    border-radius: 100%;
}

.dot.green {
    background-color: #67bd99 ;
}